/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  margin: 0;
  padding: 0;
  background-color: #4a5ba6; 
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  display: flex;
  background-color: #4a5ba6; 
}

.trivia {
  width: 120px;
  height: 90px;
  background-color: #7ec8e3; 
  border: solid #4b8ca1 5px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  line-height: 110px;
  color: #2e2e2e; 
}
